* {
    margin: 0;
    padding: 0;
  }
  
  .section-container{
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .input label, .submit-btn {
    font-family: 'Roboto', sans-serif;
  }
  #empresa-nome {
    background-color: white;
    position: absolute;
    top: 35px;
    right: 5vw;
    padding: 5px 15px;
  }
  #e1 {
    color: blue;
    font-family: 'Roboto', sans-serif;
  }
  #e2 {
    color: red;
    font-family: 'Quicksand', sans-serif;  
  }  
  #bfimage {
      width: 100%;
  }
  #call-to-action{
      background-color: white;
      padding: 3px 5px;
      position: absolute;
      bottom: 35px;
      left: 4vw;
  }
  .background-section-one{
    position: relative;
    background-image: linear-gradient(black, white);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .background-section-two{
    position: relative;
    background-image: linear-gradient(white, black);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .f-container{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0px;
    background: #000;
    width: 100%;
  }
  #form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
  }
  
  .input{
    color: #fff;
    margin: 10px 0px;
  }
  input {
    background: #fff;
    color: #000;
  }
  .submit-btn {
    padding: 0px 15px;
  }





  .card-collection {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 70%;
    background-color: rgba(56, 56, 52, 0.2);
    padding: 12px;
  }
  #carousel-actions {
    width: 100%;
    display: flex;
    position: absolute;
    top: 45%;

    justify-content: space-between;
  }
  #carousel-lftbtn, #carousel-rgtbtn {
    background-color: black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  #carousel-lftbtn p, #carousel-rgtbtn p{
    color: white;
    text-align: center;
  }
  #carousel-lftbtn p:hover, #carousel-rgtbtn p:hover{
    color: black;
  }
  .card {
    display: none;
    border: 1px solid white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    padding: 5px;
    color: white;
    font-family: 'Quicksand', sans-serif;
  }
  .card-focus1 {
    display: block;
  }
  .card-focus2 {
    display: block;
  }
  .card-img {
    width: 100%;
  }
  .card-description {
    width: 100%;
  }
  .card-description h4, p {
    margin: 15px 0px;
  }
  .card-description h4 {
    font-family: 'Roboto', sans-serif;
  }
  .card-hidden-description {
    display: none;
  }




  
  footer{
    position: relative;
    height: 150px;
    padding: 25px;
    text-align: center;
    background-color: #000;
    color: #fff;
  }
  #empresa-nome-footer {
    position: absolute;
    font-size: medium;
    bottom: 35px;
    left: 5vw;
  }




  /* medium & small*/
  @media screen and (max-width: 992px) {
    
    #form{
        width: 100%;
    }      
    .card-collection {
      width: 90%;
    }

    .card-focus2 {
      display: none;
    }
  }

  /* small */
  @media screen and (max-width: 700px) {
    .f-container{
        justify-content: center;        
    }
    .input {
        width: 55%;
    }
    
    #call-to-action {
        margin: 0px;
        padding: 0px;
        left: 0px;
        width: 100%;

    }

    .section-container{
        height: 900px;
    }
    .background-section-one{
        background-attachment: scroll;
    }
      .background-section-two{
        background-attachment: scroll;
      }
  }